@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-brands/css/uicons-brands.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #ffffff;
}

h1 {
  font-size: 2.5rem;
  color: #2c292b;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}