.container
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sortByContainer {
    margin-bottom: 20px;
  }
  
  .sortByContainer select {
    width: 200px; 
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background-color: #fff;
    transition: border-color 0.2s;
  }
  
  .sortByContainer select:focus {
    border-color: #344e41;
  }

  .sortByContainer select option:hover {
    background-color: #344e41;
  }
  
 
  .sortByContainer select option:checked {
    background-color: #344e41; 
    color: #fff; 
  }
  .sortByContainer h3
  {
    font-size: large;
    font-weight: bold;
  }